* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  width: 100%;
  background-color: aqua;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  font-size: 24px;
}

.row {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
}

.label span {
  margin-right: 10px;
}

.label {
  margin: 10px;
}

.label .add_contact {
  padding: 5px 10px;
  background-color: #ff0ff8;
  color: #000;
  border: none;
  cursor: pointer;
}
